@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1F2833;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
/* div.display-block {
    text-align:left; 
    margin: 20px;
}
div.display-block div:first-child {
    border-radius: 10px;
    padding: 10px;
} */